body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #2ecc71, #3498db);
    color: white;
    text-align: center;
}

/* HEADER */
header {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
}

/* HERO IMAGE */
.hero img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 20px;
    border: 5px solid white;
}

/* SECTION */
section {
    padding: 40px 20px;
}

/* INSTAGRAM */
.instagram a {
    display: inline-block;
    background-color: white;
    color: #2ecc71;
    padding: 12px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.instagram a:hover {
    background-color: #2ecc71;
    color: white;
}

.video {
    padding: 40px 20px;
}

.video-container {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: auto;
    padding-bottom: 45%; /* Rasio 16:9 */
    height: 0;
}

.video-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

/* FOOTER */
footer {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.3);
}
